streamlit
google-cloud-bigquery
google-cloud-storage
google-cloud-discoveryengine
langchain-text-splitters
pandas-gbq
pydub
python-dotenv
tenacity
vertexai
protobuf
chromadb
sqlalchemy
psycopg2-binary
fastapi
uvicorn
python-multipart
